@font-face  {
  font-family: myFirstFont;
  src: url(font/Poppins-Light.woff2);
}

.info-zone  {
    position: absolute;
    font-family: myFirstFont, serif;
    background: #2d3e4e;
    top: 30%;
    left: 50%;
    width: 100%;
    height: 15vw;
    transform: translate(-50%, -50%);
    border-radius: 2px;
    justify-content: center;
    text-align: center;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */

}

h1  {
    overflow: hidden;
}

.old-text,
.new-text {
    display: block;
}

.bottombox1 {
    bottom:36%;
    right:33%;
    width:100%;
    text-align:center;
    position: fixed;
}

.bottombox2 {
    bottom:36%;
    left:0;
    width:100%;
    text-align:center;
    position: fixed;
}

.bottombox3 {
    bottom:8%;
    left:33%;
    width:100%;
    text-align:center;
    position: fixed;
}

#myButton{
    cursor: pointer;
}

.old-text  {
    text-align: center;
    height: auto;
    opacity: 1;
    width: auto;
    transition: opacity 0.6s linear;
}
.new-text  {
    vertical-align: middle;
    height: 0;
    opacity: 0;
    width: 0;
    margin-top: 6%;
    transition: opacity 0.8s linear;

}
.info-zone:hover .old-text  {
    height: 0;
    opacity: 0;
}

.info-zone:hover .new-text {
    height: auto;
    opacity: 1;
    width: auto;
    background: #2d3e4e;
}




