<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Elhunytak átlagéletkora</title>
    <link rel='icon' href='../static/assets/favicon-96x96.png' type='image/x-icon'/>

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/icons.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/card.css"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script src="../static/js/script.js" defer></script>
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body style = "background: #1b2e42;">
    <div class="info-zone" id="myButton">
        <div class="old-text">
            <div class="w3-container " >
                <div class ="bottombox1">

                        <h3 style="font-size:1.8vw;" >
                        Elhunyt {{number_of_deaths}} személy
                        </h3>

                </div>
            </div>

            <div class="w3-container " >
                <div class ="bottombox2">
                    <h3 style="font-size:1.8vw;" >
                    Az elhunytak átlagéletkora: {{ average }} év
                    </h3>
                </div>
            </div>

            <div class="w3-container " >
                <div class ="bottombox3">
                    <h3 style="font-size:1.8vw;" >
                    A leggyakoribb alapbeteségek:<br>
                    {% for item in most_common %}
                         {{item[0]}}: {{item[1]}} <br>
                     {% endfor %}
                    </h3>
                 </div>
            </div>
        </div>
        <div class="new-text">
            <h1 style="font-size:2vw" >
                Az adatok a  <a href="https://koronavirus.gov.hu/elhunytak" >koronavirus.gov.hu/elhunytak</a> weblapról származnak, látogassa meg a további információkért
            </h1>
        </div>
    </div>

    <div class="footer-icons">
    <table style="width:100%">
        <tr>
            <th>
            <span class="iccon" style="font-size: 5vw; ">
                <i class="fas fa-landmark"></i>
            </span>
            </th>

            <th>
            <span class="iccon" style="font-size: 5vw; ">
                <i class="fas fa-microscope"></i>
            </span>
            </th>

            <th>
            <span class="iccon" style="font-size: 5vw; ">
                <i class="fas fa-globe-americas"></i>
            </span>
            </th>

            <th>
            <span class="iccon" style="font-size: 5vw;">
                <i class="fas fa-hands-wash"></i>
            </span>
            </th>
        </tr>
            <td class="icon-text" >
                <a href="https://koronavirus.gov.hu" >Hivatalos magyarországi oldal</a>
            </td>
            <td class="icon-text">
                <a href="https://hu.wikipedia.org/wiki/COVID%E2%80%9319" >Információ a betegségről</a>
            </td>
            <td class="icon-text">
                <a href="https://coronavirus.jhu.edu/map.html" >Világszintű információk</a>
            </td>
            <td class="icon-text">
                <a href="https://koronavirus.gov.hu/megelozes" >Hogy előzzük meg a fertőzést?</a>
            </td>
    </table>
    </div>

    <script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "https://koronavirus.gov.hu/elhunytak";
    };
    </script>

    
</body>
</html>