<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Elhunytak átlagéletkora</title>
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css"/>

    <script src="../static/js/script.js" defer></script>
</head>

<body style = "margin: 0px;background: #2d3e4e;">
    <div class="card">
          <h1 class="title">
            <span class="old-text"  id="myButton">Az elhunytak átlagéletkora: {{ average }} év</span>
            <span class="new-text">Az adatok a  <a href="https://koronavirus.gov.hu/elhunytak" >koronavirus.gov.hu/elhunytak</a> weblapról származnak, látogassa meg a további információkért</span>
         </h1>

    </div>

    <script type="text/javascript">
    document.getElementById("myButton").onclick = function () {
        location.href = "https://koronavirus.gov.hu/elhunytak";
    };
    </script>

    <div class="wrap">
    <div class="new">website</div>
    <div class="old">OLd</div>
    </div>



</body>
</html>
